.navbar{
  background-color: #000;
  display: flex;
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  img{
    height: 59px;

    @include respond-to(lg){
      height: 65px;
    }

    @include respond-to(xl){
      height: 90px;
    }
  }
}

.home{

  &__container{
    height: 100%;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3) ), url('../img/home.png');
    background-position: center;
    background-size: cover;
  }

  &__arrow-container{
    padding-top: 20px;
    width: 100%;
    margin: auto;
    padding-bottom: 26px;
    text-align: center;

    @include respond-to(xl){
      padding-bottom: 50px;
    }
  }

  &__arrow{
    display: inline-block;
    width: 52px;
    height: 52px;
    position: relative;

    circle{
      stroke-miterlimit: 10;
      stroke-width: 18px;
    }
    
    g{
      fill: transparent;
      stroke: #fff;
    }
   
    polyline{
      animation: mxp-top-to-bottom 1.4s infinite;
      stroke-miterlimit: 10;
      stroke-width: 18px;
      -webkit-transition: all .2s;
      transition: all .2s;
    }
    
    svg{
      overflow: hidden;
    }
  }

  &__arrow:hover{
    cursor: pointer;
    circle{
      fill: #fff;
     
    }

    polyline{
      stroke: #191919;
    }
  }

  &__content-wrap{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 
    

    h1{
      color: white;
      font-weight: 400;
      text-align: center;
      font-size: 24px;

      @include respond-to(xl){
        font-size: 36px;
      }

    }

    h2{
      color: white;
      font-weight: 400;
      text-align: center;
      padding-bottom: 15.1px;
      font-size: 24px;

      @include respond-to(lg){
        padding-bottom: 25.1px;

      }

      @include respond-to(xl){
        font-size: 36px;
      }
    }


    img{
      margin: auto;
      padding-bottom: 9px;
      height: 164px;

      @include respond-to(lg){
        height: 200px;
      }

      @include respond-to(xl){
        height: 270px;
      }
    }

    p{
      color: #fff;
      text-align: center;
      font-size: 16px;
      max-width: 306px;
      margin: auto;
      padding-bottom: 4px;

      @include respond-to(sm){
        max-width: 608px;
        font-size: 18px;
      }

      @include respond-to(lg){
         padding-bottom: 20px;
      }

      @include respond-to(xl){
        padding-bottom: 53px;
        font-size: 24px;        
      }
    }
  }
}



@keyframes mxp-top-to-bottom{
  0% {
      opacity: 0;
      -webkit-transform: translateY(-170px);
      transform: translateY(-170px)
  }

  35% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0)
  }

  50% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0)
  }

  65% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0)
  }

  to {
      opacity: 0;
      -webkit-transform: translateY(150px);
      transform: translateY(150px)
  }
}