.twenty{

  &__inner{
    position: absolute;
    bottom: calc(8.32% - 10px);
    left: 0px;
    color: white;
    margin-right: 20px;
    max-width: 284px;  
    
    @include respond-to(md){
      max-width: 244px;
    }
  }

  &__header{
    opacity: 0;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 10px;
    transform: translate(0px, -30vh);

    @include respond-to(sm){
      margin-top: -28px;
    }

  }

  &__date{
    opacity: 0;
    font-size: 12px;
    padding-top: 20px;

    @include respond-to(sm){
      margin-left: -53px;
    }
  }

  &__copy{
    opacity: 0;
    font-size: 14px;
    transform: translate(0px, -30vh);    
  }

  &__btn{
    padding: 10px;
    border: solid white;
    border-radius: 5px;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 87%;
    transform: translate(0px, -30vh);
    opacity: 0;

    @include respond-to(md){
      width: 291px;
      margin-bottom: -53px;
    }

    p{
      font-size: 14px;
      letter-spacing: 0.15em;
    }
  }

  &__btn:hover{
    background-color: white;
    cursor: pointer;
    p{
      color: black;
    }
  }

  &__image-wrap{
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(15.1deg, rgba(0, 0, 0, 0.5) 15.24%, rgba(0, 0, 0, 0) 40.6%), url('../img/twenty.png');
    background-size: cover;
    background-position-x: 42%;
  }
}