.page-wrap
  .eighty-nine__inner
    .eighty-nine__text-wrap     
      p.eighty-nine__date 1989  
      h1.eighty-nine__header Mazda MX-5   
      p.eighty-nine__copy Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit.
  .eighty-nine__image-wrap
    .eighty-nine__image-one
