mixin item(title, url)
  li(class=(page == title ? 'current-menu-item' : ''))
    a(href=url)= title

<!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p><![endif]-->

header.page-header
  .page-header__inner.container
    a.page-header__logo(href="/")
    button.hamburger
      span Menu
  nav.page-header__nav
    ul
      +item('Home', '/')


