.navbar
  img(src="./img/logo.png", alt="")
  button.hamburger
    span 
.home__container
.home__content-wrap
  img(src="./img/hero-logo.png", alt="")
  h1 100 years of Mazda
  h2 1920 — 2020
  p Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
  .home__arrow-container
    .home__arrow
      svg(viewBox="0 0 500 500")
        g 
          circle(cx="250" cy="250" r="240")
          polyline(points="310,220 250,280 190,220")