.page-wrap
  .sixty__inner
    .sixty__text-wrap     
      p.sixty__date 1960    
      h1.sixty__header Mazda R360    
      p.sixty__copy Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, in our article here. Nullam id dolor id nibh ultricies vehicula ut id elit.
.sixty__slider-wrap
  .sixty__image-left
    img(src="./img/sixty-left.png", alt="")
  .sixty__image-right
    img(src="./img/right-new.png", alt="")