.page-wrap
  .sixty-six__inner
    .sixty-six__text-wrap     
      p.sixty-six__date 1966   
      h1.sixty-six__header Genetic code cracked   
      p.sixty-six__copy Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero.
  .sixty-six__image-wrap      
    .sixty-six__image-one
      //- img(src="./img/sixty-six.png", alt="")
