.page-wrap
  .sixty-nine__inner
    .sixty-nine__text-wrap     
      p.sixty-nine__date 1969   
      h1.sixty-nine__header Moon landings   
      p.sixty-nine__copy Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero.
  .sixty-nine__image-wrap   
    .sixty-nine__image-one
