.sixty-copy__wrap
  .sixty-copy__inner
    .sixty-copy__text-wrap     
      p.sixty-copy__date 1960    
      h1.sixty-copy__header Mazda R360    
      p.sixty-copy__copy Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, in our article here. Nullam id dolor id nibh ultricies vehicula ut id elit.
  .sixty-copy__image-wrap
    .sixty-copy__image-one
      img(src="./img/sixty-left.png", alt="")
    .sixty-copy__image-two
      img(src="./img/sixty-right.png", alt="")