.page-wrap
  .sixty-seven__image-one
  //- img(src="./img/sixty-six.png", alt="")
  .sixty-seven__inner
    .sixty-seven__text-wrap     
      p.sixty-seven__date 1967   
      h1.sixty-seven__header Mazda Cosmo    
      p.sixty-seven__copy Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, in our article here. Nullam id dolor id nibh ultricies vehicula ut id elit.
