.timeline__container
  .timeline
    .timeline__year.timeline__year--dated 
      p 1920
    .timeline__year
    .timeline__year
    .timeline__year
    .timeline__year
    .timeline__year
    .timeline__year
    .timeline__year
    .timeline__year
    .timeline__year
    .timeline__year
    .timeline__year
    .timeline__year
    .timeline__year
    .timeline__year
    .timeline__year
    .timeline__year
    .timeline__year
    .timeline__year
    .timeline__year
    .timeline__year
    .timeline__year
    .timeline__year.timeline__year--dated 
      p 2020
