.twenty__image-wrap
  video.twenty-vid(playsinline, autoplay, muted, loop, id="myVideo")
    source(src="./img/mazda-hero.mp4", type="video/mp4")
.home__overlay
.page-wrap
  .twenty__inner
    .twenty__text-wrap      
      h1.twenty__header Mazda MX-30 anniversary edition 
      p.twenty__copy Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  Nullam id dolor id nibh ultricies vehicula ut id elit.
      a(href="https://www.mazda.co.uk/")
        .twenty__btn
          p BOOK A TEST DRIVE
        p.twenty__date 2020 