.twenty__image-wrap
.page-wrap
  .twenty__inner
    .twenty__text-wrap      
      h1.twenty__header Mazda MX-30 anniversary edition 
      p.twenty__copy Morbi leo risus, porta ac consectetur ac, vestibulum at eros.  Nullam id dolor id nibh ultricies vehicula ut id elit.
      a(href="https://www.mazda.co.uk/")
        .twenty__btn
          p BOOK A TEST DRIVE
        p.twenty__date 2020 
