.page-wrap
  .zero-nine__inner
    .zero-nine__text-wrap     
      p.zero-nine__date 2009  
      h1.zero-nine__header Usain Bolt breaks 100m record  
      p.zero-nine__copy Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo.
  .zero-nine__image-wrap
    .zero-nine__image-one
      video.zero-nine-vid(playsinline, autoplay, muted, loop, id="myVideo")
        source(src="./img/runner.mp4", type="video/mp4")